<div class="inline-heading">
  <h1>Registered Vehicles</h1>
  <h4 class="add-btn">
    <%= link_to  new_vehicle_path, class: "pull-right" do %>
      Add<%= icon "car", class: "grey" %>
    <% end %>
  </h4>
</div>
<hr>
<% if @vehicles.blank? %>
  <p>No Registered Vehicles</p>
<% else %>
  <table id="list-vehicles">
    <tr>
      <td>
        License Plate:
      </td>
      <td>
        Manufacturer:
      </td>
      <td>
        Model:
      </td>
      <td>
        Year:
      </td>
      <td>
        Colour:
      </td>
      <td>
        Paid/Unpaid
      </td>
      <td>
        Owner:
      </td>
    </tr>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.license_plate %></td>
        <td><%= vehicle.manufacturer %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.colour %></td>
        <td><%= vehicle %></td>
        <td><%= vehicle.user.email %></td>
        <td><%= link_to "Edit", edit_vehicle_path(vehicle) %></td>
        <td><%= link_to "Show", vehicle_path(vehicle) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
