<div class="inline-heading">
  <h1>Vehicles</h1>
  <h4>
    <%= link_to  new_vehicle_path, class: "bold pull-right" do %>
      Add<%= icon "car", class: "grey" %>
    <% end %>
  </h4>
</div>
<hr>
<% if @vehicles.empty? %>
  <p>No Registered Vehicles</p>
<% else %>
  <table>
    <%= @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.license_plate %></td>
        <td><%= vehicle.colour %></td>
        <td><%= vehicle.manufacturer %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.year %></td>

        <td><%= link_to "Edit", edit_vehicle_path %></td>
        <td><%= link_to "Show", vehicle_path %></td>
      </tr>
    <% end %>
  </table>
<% end %>
