<!DOCTYPE html>
<html>
<head>
  <title>VisitorsParking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div id="main_content" class="container">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>
